.cookies

characters/*
!characters/character.example/
dist/

# Docker
docker-compose-*.yml
!docker-compose-template.yml
# Virtual environment
venv/
ENV/
env/
.env

certs/

# Logs
logs
*.log

*.gz
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged

*.tgz

# IDE specific files
.vscode/
.idea/
.DS_Store

.cache/
node_modules/


